.hidden {
  display: none;
}
html {
  width: 100vw;
  height: 100vh;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#contents {
  font-weight: 500;
  color: white;
  position: fixed;
  top: 200px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#greeting {
  font-size: 50px;
  position: relative;
  top: -60px;
}
#todo-form input {
  position: relative;
  background-color: transparent;
  top: -70px;
  font-size: 18px;
  padding: 10px 25px;
  width: 300px;
  border: none;
  border-bottom: 2px solid white;
  transition: all 0.2s ease-in-out;
  color: white;
}
#todo-form input:focus {
  outline: none;
  transform: scaleX(1.1);
}

#todo-form input:focus::placeholder {
  opacity: 0;
}

#todo-form input::placeholder {
  text-align: center;
  color: white;
  font-size: 25px;
}

#clock {
  margin: 0;
  font-size: 150px;
}
#weather {
  font-weight: 600;
  font-size: 20px;
  font-style: italic;
  color: white;
  position: fixed;
  z-index: 1;
  top: 20px;
  right: 20px;
}
#quote {
  color: white;
  font-style: italic;
  font-weight: 600;
  font-size: 20px;
  position: fixed;
  z-index: 1;
  bottom: 10px;
  left: 20px;
}
#quote span:last-child {
  font-size: 14px;
}

img {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}
#todo-list {
  position: relative;
  top: -75px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 10px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#todo-list h3 {
  font-weight: 600;
  padding: 0;
  margin: 0;
}

#todo-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  list-style-type: none;
  color: white;
  font-size: 17px;
  font-weight: 500;
}

#todo-list button {
  border: none;
  border-radius: 10px;
  margin-left: 10px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

#todo-list button:hover {
  transform: scale(1.05);
  background-color: tomato;
}
